altgraph==0.17
certifi==2020.6.20
cycler==0.10.0
fbs==0.9.0
fpm==0.0.1
future==0.18.2
kiwisolver==1.2.0
macholib==1.14
matplotlib==3.3.1
numpy==1.19.1
pathlib==1.0.1
pefile==2019.4.18
Pillow==7.2.0
pip-autoremove==0.9.1
PyInstaller>=3.6
PyInstaller-Hooks==20170726
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
python-dateutil==2.8.1
python-tr==0.1.2
qstring==0.2.1
six==1.15.0
